<template>
    <div class="container">
        <div class="page-header">
            <h1>
                Dynamic Table by date
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    form travel & report expense
                </small>
            </h1>
        </div><!-- /.page-header -->
        <div class="row">

            <div class="col-sm-12" style="padding-top: 30px">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
                <input class="form-control" type="text" name="date-range-picker" id="periodeTA"
                       title="Periode TA"/>
            </div>

            <div class="table-responsive">
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <th style="width: 50px">Aksi</th>
                    <th style="width: 300px">Deskripsi</th>
                    <th v-for="h in lamaTA">
                        <span class="rata-kanan"> Hari Ke-{{ h }} </span>
                    </th>
                    <th>
                        <span class="rata-kanan">Total</span>
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="action-buttons">
                                <a class="green" title="edit" style="cursor: pointer;" v-if="!isEditAkomodasi"
                                   href="javascript:void(0)" @click="editField('akomodasi')">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="green" title="simpan" style="cursor: pointer;" v-else
                                   href="javascript:void(0)" @click="saveField('akomodasi')">
                                    <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            Akomodasi (SPJ)
                        </td>
                        <td v-for="h in lamaTA">
                            <div v-if="isEditAkomodasi">
                                <label>
                                    <input type="number" v-model="akomodasi.hari_ke[h]">
                                </label>
                            </div>
                            <div v-else>
                                <span class="rata-kanan">{{ akomodasi.hari_ke[h] }}</span>
                            </div>
                        </td>
                        <td><span class="rata-kanan"> {{ totalAkomodasi }} </span></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="action-buttons">
                                <a class="green" title="edit" style="cursor: pointer;" v-if="!isEditFnB"
                                   href="javascript:void(0)" @click="editField('fnb')">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="green" title="edit" style="cursor: pointer;" v-else
                                   href="javascript:void(0)" @click="saveField('fnb')">
                                    <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                                </a>
                            </div>
                        </td>
                        <td>Food and Baverage (F&B)</td>
                        <td v-for="h in lamaTA">
                            <div v-if="isEditFnB">
                                <label>
                                    <input type="number" v-model="fnb.hari_ke[h]">
                                </label>
                            </div>
                            <div v-else>
                                <span class="rata-kanan">{{ fnb.hari_ke[h] }}</span>
                            </div>
                        </td>
                        <td><span class="rata-kanan"> {{ totalFnB }} </span></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="action-buttons">
                                <a class="green" title="edit" style="cursor: pointer;" v-if="!isEditLodging"
                                   href="javascript:void(0)" @click="editField('lodging')">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="green" title="edit" style="cursor: pointer;" v-else
                                   href="javascript:void(0)" @click="saveField('lodging')">
                                    <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                                </a>
                            </div>
                        </td>
                        <td>Lodging</td>
                        <td v-for="h in lamaTA">
                            <div v-if="isEditLodging">
                                <label>
                                    <input type="number" v-model="lodging.hari_ke[h]">
                                </label>
                            </div>
                            <div v-else>
                                <span class="rata-kanan">{{ lodging.hari_ke[h] }}</span>
                            </div>
                        </td>
                        <td><span class="rata-kanan"> {{ totalLodging }} </span></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="action-buttons">
                                <a class="green" title="edit" style="cursor: pointer;" v-if="!isEditBiayaTransPer"
                                   href="javascript:void(0)" @click="editField('biaya_trans_per')">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="green" title="edit" style="cursor: pointer;" v-else
                                   href="javascript:void(0)" @click="saveField('biaya_trans_per')">
                                    <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                                </a>
                            </div>
                        </td>
                        <td>Biaya Transportasi Perjalanan</td>
                        <td v-for="h in lamaTA">
                            <div v-if="isEditBiayaTransPer">
                                <label>
                                    <input type="number" v-model="biaya_trans_per.hari_ke[h]">
                                </label>
                            </div>
                            <div v-else>
                                <span class="rata-kanan">{{ biaya_trans_per.hari_ke[h] }}</span>
                            </div>
                        </td>
                        <td><span class="rata-kanan">{{ totalBiayaTransPer }}</span></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="action-buttons">
                                <a class="green" title="edit" style="cursor: pointer;" v-if="!isEditAirportTax"
                                   href="javascript:void(0)" @click="editField('airport_tax')">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="green" title="edit" style="cursor: pointer;" v-else
                                   href="javascript:void(0)" @click="saveField('airport_tax')">
                                    <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                                </a>
                            </div>
                        </td>
                        <td>Airport Tax</td>
                        <td v-for="h in lamaTA">
                            <div v-if="isEditAirportTax">
                                <label>
                                    <input type="number" v-model="airport_tax.hari_ke[h]">
                                </label>
                            </div>
                            <div v-else>
                                <span class="rata-kanan">{{ airport_tax.hari_ke[h] }}</span>
                            </div>
                        </td>
                        <td><span class="rata-kanan"> {{ totalAirportTax }}</span></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="action-buttons">
                                <a class="green" title="edit" style="cursor: pointer;" v-if="!isEditRentalKendaraan"
                                   href="javascript:void(0)" @click="editField('rental_kendaraan')">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="green" title="edit" style="cursor: pointer;" v-else
                                   href="javascript:void(0)" @click="saveField('rental_kendaraan')">
                                    <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                                </a>
                            </div>
                        </td>
                        <td>Rental Kendaraan</td>
                        <td v-for="h in lamaTA">
                            <div v-if="isEditRentalKendaraan">
                                <label>
                                    <input type="number" v-model="rental_kendaraan.hari_ke[h]">
                                </label>
                            </div>
                            <div v-else>
                                <span class="rata-kanan">{{ rental_kendaraan.hari_ke[h] }}</span>
                            </div>
                        </td>
                        <td><span class="rata-kanan"> {{ totalRentalKendaraan }}</span></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="action-buttons">
                                <a class="green" title="edit" style="cursor: pointer;" v-if="!isEditTransLokal"
                                   href="javascript:void(0)" @click="editField('trans_lokal')">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="green" title="edit" style="cursor: pointer;" v-else
                                   href="javascript:void(0)" @click="saveField('trans_lokal')">
                                    <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                                </a>
                            </div>
                        </td>
                        <td>Transportasi Lokal</td>
                        <td v-for="h in lamaTA">
                            <div v-if="isEditTransLokal">
                                <label>
                                    <input type="number" v-model="trans_lokal.hari_ke[h]">
                                </label>
                            </div>
                            <div v-else>
                                <span class="rata-kanan">{{ trans_lokal.hari_ke[h] }}</span>
                            </div>
                        </td>
                        <td><span class="rata-kanan"> {{ totalTransLokal }} </span></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="action-buttons">
                                <a class="green" title="edit" style="cursor: pointer;" v-if="!isEditBBM"
                                   href="javascript:void(0)" @click="editField('bbm')">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="green" title="edit" style="cursor: pointer;" v-else
                                   href="javascript:void(0)" @click="saveField('bbm')">
                                    <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                                </a>
                            </div>
                        </td>
                        <td>BBM</td>
                        <td v-for="h in lamaTA">
                            <div v-if="isEditBBM">
                                <label>
                                    <input type="number" v-model="bbm.hari_ke[h]">
                                </label>
                            </div>
                            <div v-else>
                                <span class="rata-kanan">{{ bbm.hari_ke[h] }}</span>
                            </div>
                        </td>
                        <td><span class="rata-kanan"> {{ totalBBM }}</span></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="action-buttons">
                                <a class="green" title="edit" style="cursor: pointer;" v-if="!isEditLain"
                                   href="javascript:void(0)" @click="editField('lain')">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="green" title="edit" style="cursor: pointer;" v-else
                                   href="javascript:void(0)" @click="saveField('lain')">
                                    <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                                </a>
                            </div>
                        </td>
                        <td>Lain - Lain</td>
                        <td v-for="h in lamaTA">
                            <div v-if="isEditLain">
                                <label>
                                    <input type="number" v-model="lain.hari_ke[h]">
                                </label>
                            </div>
                            <div v-else>
                                <span class="rata-kanan">{{ lain.hari_ke[h] }}</span>
                            </div>
                        </td>
                        <td><span class="rata-kanan"> {{ totalLain }} </span></td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Total:</b></td>
                        <td v-for="h in lamaTA">
                            -
                        </td>
                        <td><span class="rata-kanan"><b> Rp{{ totalBiayaSemua.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") }} </b></span>
                        </td>


                    </tr>
                    </tbody>

                </table>
            </div>

            <center>
                <template v-if="submitLoading">
                    <i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>
                </template>
                <template v-else>
                    <button class="btn btn-white btn-info btn-bold" @click="saveToDatabase">
                        <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                        Simpan
                    </button>
                </template>
            </center>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                // data TA yang pernah diajukan
                dataTA: [],
                choosenID: null,

                // data Pelaporan TA
                akomodasi: {
                    hari_ke: []
                },
                fnb: {
                    hari_ke: []
                },
                lodging: {
                    hari_ke: []
                },
                biaya_trans_per: {
                    hari_ke: []
                },
                airport_tax: {
                    hari_ke: []
                },
                rental_kendaraan: {
                    hari_ke: []
                },
                trans_lokal: {
                    hari_ke: []
                },
                bbm: {
                    hari_ke: []
                },
                lain: {
                    hari_ke: []
                },


                // data total per deskripsi
                totalAkomodasi: parseInt(localStorage.getItem('lsTotalAkomodasi')) || 0,
                totalFnB: parseInt(localStorage.getItem('lsTotalFnB')) || 0,
                totalLodging: parseInt(localStorage.getItem('lsTotalLodging')) || 0,
                totalBiayaTransPer: parseInt(localStorage.getItem('lsTotalBiayaTransPer')) || 0,
                totalAirportTax: parseInt(localStorage.getItem('lsTotalAirportTax')) || 0,
                totalRentalKendaraan: parseInt(localStorage.getItem('lsTotalRentalKendaraan')) || 0,
                totalTransLokal: parseInt(localStorage.getItem('lsTotalTransLokal')) || 0,
                totalBBM: parseInt(localStorage.getItem('lsTotalBBM')) || 0,
                totalLain: parseInt(localStorage.getItem('lsTotalLain')) || 0,

                // total semua
                totalBiayaSemua: parseInt(localStorage.getItem('lsTotalBiayaSemua')) || 0,

                // data total perhari

                // parameter untuk binding
                isEditAkomodasi: false,
                isEditFnB: false,
                isEditLodging: false,
                isEditBiayaTransPer: false,
                isEditAirportTax: false,
                isEditRentalKendaraan: false,
                isEditTransLokal: false,
                isEditBBM: false,
                isEditLain: false,

                // loading
                submitLoading: false,

                //
                lamaTA: 1,
            }
        },
        created() {
            // checking localstorage dynamic list
            if (localStorage.getItem('lsAkomodasi') !== null) this.akomodasi = JSON.parse(localStorage.getItem('lsAkomodasi'))
            if (localStorage.getItem('lsFnB') !== null) this.fnb = JSON.parse(localStorage.getItem('lsFnB'))
            if (localStorage.getItem('lsLodging') !== null) this.lodging = JSON.parse(localStorage.getItem('lsLodging'))
            if (localStorage.getItem('lsBiayaTransPer') !== null) this.biaya_trans_per = JSON.parse(localStorage.getItem('lsBiayaTransPer'))
            if (localStorage.getItem('lsAirportTax') !== null) this.airport_tax = JSON.parse(localStorage.getItem('lsAirportTax'))
            if (localStorage.getItem('lsRentalKendaraan') !== null) this.rental_kendaraan = JSON.parse(localStorage.getItem('lsRentalKendaraan'))
            if (localStorage.getItem('lsTransLokal') !== null) this.trans_lokal = JSON.parse(localStorage.getItem('lsTransLokal'))
            if (localStorage.getItem('lsBBM') !== null) this.bbm = JSON.parse(localStorage.getItem('lsBBM'))
            if (localStorage.getItem('lsLain') !== null) this.lain = JSON.parse(localStorage.getItem('lsLain'))

        },
        mounted() {
            this.setDateRangePicker();
        },
        methods: {
            editField(type) {
                if (type === 'akomodasi') {
                    this.isEditAkomodasi = true;
                } else if (type === 'fnb') {
                    this.isEditFnB = true;
                } else if (type === 'lodging') {
                    this.isEditLodging = true;
                } else if (type === 'biaya_trans_per') {
                    this.isEditBiayaTransPer = true;
                } else if (type === 'airport_tax') {
                    this.isEditAirportTax = true;
                } else if (type === 'rental_kendaraan') {
                    this.isEditRentalKendaraan = true;
                } else if (type === 'trans_lokal') {
                    this.isEditTransLokal = true;
                } else if (type === 'bbm') {
                    this.isEditBBM = true;
                } else if (type === 'lain') {
                    this.isEditLain = true;
                }
            },
            saveField(type) {
                let biaya_total = 0;
                if (type === 'akomodasi') {
                    this.isEditAkomodasi = false;
                    localStorage.setItem('lsAkomodasi', JSON.stringify(this.akomodasi))
                    this.akomodasi.hari_ke.map(e => {
                        if(e !== null) biaya_total += parseInt(e)
                    });
                    if (isNaN(biaya_total)) {
                        biaya_total = 0
                    }
                    this.totalAkomodasi = parseInt(biaya_total)
                    localStorage.setItem('lsTotalAkomodasi', this.totalAkomodasi)
                } else if (type === 'fnb') {
                    this.isEditFnB = false;
                    localStorage.setItem('lsFnB', JSON.stringify(this.fnb))
                    this.fnb.hari_ke.map(e => {
                        if(e !== null) biaya_total += parseInt(e)
                    });
                    if (isNaN(biaya_total)) {
                        biaya_total = 0
                    }
                    this.totalFnB = parseInt(biaya_total)
                    localStorage.setItem('lsTotalFnB', this.totalFnB)
                } else if (type === 'lodging') {
                    this.isEditLodging = false;
                    localStorage.setItem('lsLodging', JSON.stringify(this.lodging))
                    this.lodging.hari_ke.map(e => {
                        if(e !== null) biaya_total += parseInt(e)
                    });
                    if (isNaN(biaya_total)) {
                        biaya_total = 0
                    }
                    this.totalLodging = parseInt(biaya_total)
                    localStorage.setItem('lsTotalLodging', this.totalLodging)
                } else if (type === 'biaya_trans_per') {
                    this.isEditBiayaTransPer = false;
                    localStorage.setItem('lsBiayaTransPer', JSON.stringify(this.lsBiayaTransPer))
                    this.biaya_trans_per.hari_ke.map(e => {
                        if(e !== null) biaya_total += parseInt(e)
                    });
                    if (isNaN(biaya_total)) {
                        biaya_total = 0
                    }
                    this.totalBiayaTransPer = parseInt(biaya_total)
                    localStorage.setItem('lsTotalBiayaTransPer', this.totalBiayaTransPer)
                } else if (type === 'airport_tax') {
                    this.isEditAirportTax = false;
                    localStorage.setItem('lsAirportTax', JSON.stringify(this.lsAirportTax))
                    this.airport_tax.hari_ke.map(e => {
                        if(e !== null) biaya_total += parseInt(e)
                    });
                    if (isNaN(biaya_total)) {
                        biaya_total = 0
                    }
                    this.totalAirportTax = parseInt(biaya_total)
                    localStorage.setItem('lsTotalAirportTax', this.totalBiayaTransPer)
                } else if (type === 'rental_kendaraan') {
                    this.isEditRentalKendaraan = false;
                    localStorage.setItem('lsRentalKendaraan', JSON.stringify(this.lsRentalKendaraan))
                    this.rental_kendaraan.hari_ke.map(e => {
                        if(e !== null) biaya_total += parseInt(e)
                    });
                    if (isNaN(biaya_total)) {
                        biaya_total = 0
                    }
                    this.totalRentalKendaraan = parseInt(biaya_total)
                    localStorage.setItem('lsTotalRentalKendaraan', this.totalRentalKendaraan)
                } else if (type === 'trans_lokal') {
                    this.isEditTransLokal = false;
                    localStorage.setItem('lsTransLokal', JSON.stringify(this.lsTransLokal))
                    this.trans_lokal.hari_ke.map(e => {
                        if(e !== null) biaya_total += parseInt(e)
                    });
                    if (isNaN(biaya_total)) {
                        biaya_total = 0
                    }
                    this.totalTransLokal = parseInt(biaya_total)
                    localStorage.setItem('lsTotalTransLokal', this.totalTransLokal)
                } else if (type === 'bbm') {
                    this.isEditBBM = false;
                    localStorage.setItem('lsBBM', JSON.stringify(this.lsBBM))
                    this.bbm.hari_ke.map(e => {
                        if(e !== null) biaya_total += parseInt(e)
                    });
                    if (isNaN(biaya_total)) {
                        biaya_total = 0
                    }
                    this.totalBBM = parseInt(biaya_total)
                    localStorage.setItem('lsTotalBBM', this.totalBBM)
                } else if (type === 'lain') {
                    this.isEditLain = false;
                    localStorage.setItem('lsLain', JSON.stringify(this.lsLain))
                    this.lain.hari_ke.map(e => {
                        if(e !== null) biaya_total += parseInt(e)
                    });
                    if (isNaN(biaya_total)) {
                        biaya_total = 0
                    }
                    this.totalLain = parseInt(biaya_total)
                    localStorage.setItem('lsTotalLain', this.totalLain)
                }

                this.totalBiayaSemua = this.totalFnB + this.totalBBM + this.totalTransLokal + this.totalAkomodasi + this.totalLain + this.totalRentalKendaraan + this.totalAirportTax + this.totalLodging + this.totalBiayaTransPer
                localStorage.setItem('lsTotalBiayaSemua', this.totalBiayaSemua)
            },
            saveToDatabase() {
                let periode_TA = $("#periodeTA").val().split(' - ');
                let starDate = periode_TA[0];
                let endDate = periode_TA[1];

                let formData = {
                    tapelaporanTAPengajuanId: this.choosenID,
                    tapelaporannTglPergi: starDate,
                    tapelaporanTglPulang: endDate,
                    pelaporanDetail: [],
                };

                this.akomodasi.hari_ke.map((e, index) => {
                    formData.pelaporanDetail.push({
                        value: e,
                        jenis: 'spj',
                        tanggal: moment(starDate, "YYYY-MM-DD").add(index - 1, 'days').format("YYYY-MM-DD")
                    })
                });
                this.fnb.hari_ke.map((e, index) => {
                    formData.pelaporanDetail.push({
                        value: e,
                        jenis: 'f&b',
                        tanggal: moment(starDate, "YYYY-MM-DD").add(index - 1, 'days').format("YYYY-MM-DD")
                    })
                });
                this.lodging.hari_ke.map((e, index) => {
                    formData.pelaporanDetail.push({
                        value: e,
                        jenis: 'lodging',
                        tanggal: moment(starDate, "YYYY-MM-DD").add(index - 1, 'days').format("YYYY-MM-DD")
                    })
                });
                this.biaya_trans_per.hari_ke.map((e, index) => {
                    formData.pelaporanDetail.push({
                        value: e,
                        jenis: 'cost_transport',
                        tanggal: moment(starDate, "YYYY-MM-DD").add(index - 1, 'days').format("YYYY-MM-DD")
                    })
                });
                this.airport_tax.hari_ke.map((e, index) => {
                    formData.pelaporanDetail.push({
                        value: e,
                        jenis: 'airport_tax',
                        tanggal: moment(starDate, "YYYY-MM-DD").add(index - 1, 'days').format("YYYY-MM-DD")
                    })
                });
                this.rental_kendaraan.hari_ke.map((e, index) => {
                    formData.pelaporanDetail.push({
                        value: e,
                        jenis: 'auto_rental',
                        tanggal: moment(starDate, "YYYY-MM-DD").add(index - 1, 'days').format("YYYY-MM-DD")
                    })
                });
                this.trans_lokal.hari_ke.map((e, index) => {
                    formData.pelaporanDetail.push({
                        value: e,
                        jenis: 'local_transport',
                        tanggal: moment(starDate, "YYYY-MM-DD").add(index - 1, 'days').format("YYYY-MM-DD")
                    })
                });
                this.bbm.hari_ke.map((e, index) => {
                    formData.pelaporanDetail.push({
                        value: e,
                        jenis: 'bbm',
                        tanggal: moment(starDate, "YYYY-MM-DD").add(index - 1, 'days').format("YYYY-MM-DD")
                    })
                });
                this.lain.hari_ke.map((e, index) => {
                    formData.pelaporanDetail.push({
                        value: e,
                        jenis: 'lain_lain',
                        tanggal: moment(starDate, "YYYY-MM-DD").add(index - 1, 'days').format("YYYY-MM-DD")
                    })
                });

                this.submitLoading = true;
                console.log(formData);
                setTimeout(() => {
                    alert('console log berhasil');
                    this.submitLoading = false;
                    this.resetAllData();
                }, 1000)
                // $.post("#", formData)
                // 	.done(response => {
                // 		if (response.success) {
                // 			alert('data berhasil ditambah');
                //             window.location = '#';
                //             this.submitLoading = false;
                // 		}else{
                // 			alert('terjadi kesalahan');
                // 			this.submitLoading = false;
                // 		}
                // 	})
                // 	.error(error => {
                // 		console.log(error)
                // 		this.submitLoading = false;
                // 	})

            },
            setDateRangePicker() {
                let dateRangePicker = $('input[name=date-range-picker]');
                dateRangePicker.daterangepicker(
                    {
                        'applyClass': 'btn-sm btn-success',
                        'cancelClass': 'btn-sm btn-default',
                        locale: {
                            applyLabel: 'Apply',
                            cancelLabel: 'Cancel',
                            format: 'YYYY-MM-DD'
                        },
                    });
                dateRangePicker.on('apply.daterangepicker', (ev, picker) => {
                    let a = moment(picker.startDate.format('YYYY-MM-DD'));
                    let b = moment(picker.endDate.format('YYYY-MM-DD'));
                    this.lamaTA = b.diff(a, 'days') + 1;
                    this.resetAllData();
                    console.log(this.lamaTA)
                });
            },
            resetAllData() {
                this.akomodasi.hari_ke = [];
                this.fnb.hari_ke = [];
                this.lodging.hari_ke = [];
                this.biaya_trans_per.hari_ke = [];
                this.airport_tax.hari_ke = [];
                this.rental_kendaraan.hari_ke = [];
                this.trans_lokal.hari_ke = [];
                this.bbm.hari_ke = [];
                this.lain.hari_ke = [];

                this.totalAkomodasi = 0;
                this.totalFnB = 0;
                this.totalLodging = 0;
                this.totalBiayaTransPer = 0;
                this.totalAirportTax = 0;
                this.totalRentalKendaraan = 0;
                this.totalTransLokal = 0;
                this.totalBBM = 0;
                this.totalLain = 0;
                this.totalBiayaSemua = 0;

                localStorage.clear()
            }

        }
    }

</script>


<style>
    body {
        font-size: 16px
    }

    input {
        width: 100%
    }

    .rata-kanan {
        float: right
    }
</style>